wsdlfirstws/src/main/resources/wsdl/HelloWorld.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lizhe.name/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="HelloWorldImplService" targetNamespace="http://service.lizhe.name/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://service.lizhe.name/" version="1.0">
			<xs:complexType name="student">
				<xs:sequence>
					<xs:element name="age" type="xs:int" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
					<xs:element minOccurs="0" name="number" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="speakResponse">
		<wsdl:part name="return" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="speak">
		<wsdl:part name="arg0" type="tns:student"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HelloWorld">
		<wsdl:operation name="speak">
			<wsdl:input message="tns:speak" name="speak"></wsdl:input>
			<wsdl:output message="tns:speakResponse" name="speakResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloWorldImplServiceSoapBinding"
		type="tns:HelloWorld">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="speak">
			<soap:operation soapAction="" style="rpc" />
			<wsdl:input name="speak">
				<soap:body namespace="http://service.lizhe.name/" use="literal" />
			</wsdl:input>
			<wsdl:output name="speakResponse">
				<soap:body namespace="http://service.lizhe.name/" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloWorldImplService">
		<wsdl:port binding="tns:HelloWorldImplServiceSoapBinding"
			name="HelloWorldImplPort">
			<soap:address location="http://localhost:8080/webservice/HelloWorld" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>